body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 4px solid #000;
}

.product-title {
  background-color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
}

.product-price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  color: #777;
  font-weight: bold;
}

.more-info:link,
.more-info:visited {
  text-decoration: underline;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.more-info:active {
  color: #000;
}

.details-title {
  text-transform: uppercase;
}

.details-list {
  list-style: square;
}

.btn-add {
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.btn-add:hover {
  color: #000;
  background-color: #fff;
}
